{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <p> Sell Here!</p>
        <form action="/sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ticker" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
{% endblock %}
